#root {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  .ms-Fabric {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}

body {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #faf9f8;
}
