@font-face {
  font-family: 'Selawik Regular';
  src: url('assets/fonts/Selawik/selawk.ttf') format('truetype'),
    url('assets/fonts/Selawik/selawk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

i {
  display: inline-flex !important;
}
